<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Camera </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title
        >Time to make your photography skills shine 🤩
      </ion-card-title>
    </ion-card-header>

    <ion-card-content> Click the camera button to take a pic </ion-card-content>

    <ion-fab>
      <ion-fab-button
        class="cameraButton"
        color="success"
        (click)="takePhoto()"
      >
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>

  <ion-fab>
    <ion-fab-button class="cameraButton" color="success" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
