<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home 1 Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Welcome to GreenGraph</h1>
  <h2>We love photos as much as you do!</h2>
  <ion-button color="secondary" size="full" [routerLink]="['/favouritesß']"
    >Favourites</ion-button
  >

  <p>Tell us, what would you like to do today?</p>
</ion-content>
