<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" size="full" [routerLink]="['/tabs']"
    >Back to Home</ion-button
  >
  <ion-card-content>
    Not a fan? 💔 Remove pictures from Favourites by clicking on the crossed
    heart
  </ion-card-content>
  <ion-grid>
    <ion-row>
      <!-- Declare different sizes for various types of screen, is stacked on a medium screen and below -->
      <ion-col
        size="12"
        size-md="4"
        *ngFor="let photo of photoService.favourites; index as position"
      >
        <ion-card>
          <ion-img [src]="photo.webviewPath"></ion-img>
          <ion-card-content>
            <ion-icon
              name="heart"
              *ngIf="photo.isFavourite; else noFavourite"
            ></ion-icon>
            <ion-icon
              name="heart-dislike-outline"
              (click)="photoService.removeFavourites(photo)"
              *ngIf="photo.isFavourite"
            ></ion-icon>
            <ng-template #noFavourite>
              <ion-icon
                name="heart-outline"
                (click)="photoService.addtoFavourites(photo)"
              ></ion-icon>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
